In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split, cross_validate, RepeatedKFold
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, RidgeCV, LassoCV
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [2]:
df = pd.read_csv("combined_B_&_C.csv")

In [3]:
print(df.head())

         date      price  bedrooms  bathrooms  sqft_living  sqft_lot  floors  \
0  2014-05-02   313000.0       3.0       1.50         1340      7912     1.5
1  2014-05-02  2384000.0       5.0       2.50         3650      9050     2.0
2  2014-05-02   342000.0       3.0       2.00         1930     11947     1.0
3  2014-05-02   420000.0       3.0       2.25         2000      8030     1.0
4  2014-05-02   550000.0       4.0       2.50         1940     10500     1.0

   waterfront  view  condition  ...  city_grouped_SeaTac  \
0           0     0          3  ...                False
1           0     4          5  ...                False
2           0     0          4  ...                False
3           0     0          4  ...                False
4           0     0          4  ...                False

   city_grouped_Seattle  city_grouped_Shoreline  city_grouped_Snoqualmie  \
0                 False                    True                    False
1                  True                   False                    False
2                 False                   False                    False
3                 False                   False                    False
4                 False                   False                    False

  city_grouped_Tukwila city_grouped_Vashon city_grouped_Woodinville  \
0                False               False                    False
1                False               False                    False
2                False               False                    False
3                False               False                    False
4                False               False                    False

  knn_avg_price  zipcode_price_tier_Medium  zipcode_price_tier_High
0      312600.0                      False                    False
1     1180800.0                      False                     True
2      360360.0                      False                    False
3      455780.0                       True                    False
4      499120.0                      False                     True

[5 rows x 79 columns]

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9200 entries, 0 to 9199
Data columns (total 79 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   date                           9200 non-null   object
 1   price                          9200 non-null   float64
 2   bedrooms                       9200 non-null   float64
 3   bathrooms                      9200 non-null   float64
 4   sqft_living                    9200 non-null   int64
 5   sqft_lot                       9200 non-null   int64
 6   floors                         9200 non-null   float64
 7   waterfront                     9200 non-null   int64
 8   view                           9200 non-null   int64
 9   condition                      9200 non-null   int64
 10  sqft_above                     9200 non-null   int64
 11  sqft_basement                  9200 non-null   int64
 12  yr_built                       9200 non-null   int64
 13  yr_renovated                   9200 non-null   int64
 14  street                         9200 non-null   object
 15  city                           9200 non-null   object
 16  statezip                       9200 non-null   object
 17  country                        9200 non-null   object
 18  log_price                      9200 non-null   float64
 19  yr_after_renovated             9200 non-null   int64
 20  yr_after_built                 9200 non-null   int64
 21  price_per_sqft                 9200 non-null   float64
 22  basement_present               9200 non-null   int64
 23  if_renovated                   9200 non-null   int64
 24  if_waterfront                  9200 non-null   int64
 25  basement_ratio                 9200 non-null   float64
 26  sqft_above_ratio               9200 non-null   float64
 27  rooms                          9200 non-null   float64
 28  bedrooms_bin                   9196 non-null   object
 29  bathrooms_bin                  9196 non-null   object
 30  floors_bin                     9200 non-null   object
 31  yr_built_bin                   9156 non-null   object
 32  yr_renovated_bin               0 non-null      float64
 33  log_sqft_living                9200 non-null   float64
 34  log_sqft_above                 9200 non-null   float64
 35  log_sqft_basement              9200 non-null   float64
 36  zipcode                        9200 non-null   int64
 37  city_avg_price                 9200 non-null   float64
 38  zipcode_avg_price              9200 non-null   float64
 39  city_grouped_Auburn            9200 non-null   bool
 40  city_grouped_Bellevue          9200 non-null   bool
 41  city_grouped_Black Diamond     9200 non-null   bool
 42  city_grouped_Bothell           9200 non-null   bool
 43  city_grouped_Burien            9200 non-null   bool
 44  city_grouped_Carnation         9200 non-null   bool
 45  city_grouped_Clyde Hill        9200 non-null   bool
 46  city_grouped_Covington         9200 non-null   bool
 47  city_grouped_Des Moines        9200 non-null   bool
 48  city_grouped_Duvall            9200 non-null   bool
 49  city_grouped_Enumclaw          9200 non-null   bool
 50  city_grouped_Fall City         9200 non-null   bool
 51  city_grouped_Federal Way       9200 non-null   bool
 52  city_grouped_Issaquah          9200 non-null   bool
 53  city_grouped_Kenmore           9200 non-null   bool
 54  city_grouped_Kent              9200 non-null   bool
 55  city_grouped_Kirkland          9200 non-null   bool
 56  city_grouped_Lake Forest Park  9200 non-null   bool
 57  city_grouped_Maple Valley      9200 non-null   bool
 58  city_grouped_Medina            9200 non-null   bool
 59  city_grouped_Mercer Island     9200 non-null   bool
 60  city_grouped_Newcastle         9200 non-null   bool
 61  city_grouped_Normandy Park     9200 non-null   bool
 62  city_grouped_North Bend        9200 non-null   bool
 63  city_grouped_Other             9200 non-null   bool
 64  city_grouped_Pacific           9200 non-null   bool
 65  city_grouped_Ravensdale        9200 non-null   bool
 66  city_grouped_Redmond           9200 non-null   bool
 67  city_grouped_Renton            9200 non-null   bool
 68  city_grouped_Sammamish         9200 non-null   bool
 69  city_grouped_SeaTac            9200 non-null   bool
 70  city_grouped_Seattle           9200 non-null   bool
 71  city_grouped_Shoreline         9200 non-null   bool
 72  city_grouped_Snoqualmie        9200 non-null   bool
 73  city_grouped_Tukwila           9200 non-null   bool
 74  city_grouped_Vashon            9200 non-null   bool
 75  city_grouped_Woodinville       9200 non-null   bool
 76  knn_avg_price                  9200 non-null   float64
 77  zipcode_price_tier_Medium      9200 non-null   bool
 78  zipcode_price_tier_High        9200 non-null   bool
dtypes: bool(39), float64(16), int64(15), object(9)
memory usage: 3.1+ MB
None

In [5]:
# Replace infinite values with NaN in the entire DataFrame
df.replace([np.inf, -np.inf], np.nan, inplace=True)

In [6]:
# 3. Define target and features
# We use log_price as the target and remove both 'price' and 'log_price' from the features
target_col = 'log_price'
df.dropna(subset=[target_col], inplace=True)  # ensure no missing target values

In [7]:
# 2. Data Cleaning
# Drop non-numeric columns that are not needed for regression
cols_to_drop = ['date', 'street', 'city', 'statezip', 'country', 'bedrooms_bin', 'bathrooms_bin', 'yr_built_bin']
df.drop(columns=cols_to_drop, errors='ignore', inplace=True)

In [9]:
# 3. Definefeatures

X = df.drop(columns=['price', 'log_price'], errors='ignore')
y = df[target_col]

In [10]:
if 'yr_renovated_bin' in X.columns:
    X.drop(columns=['yr_renovated_bin'], inplace=True)

In [11]:
# One-hot encode the floors_bin column if it exists (since it has values like '1', '2', '3+')
if 'floors_bin' in df.columns:
    df = pd.get_dummies(df, columns=['floors_bin'], drop_first=True)

In [12]:
# Convert boolean columns to integers (0/1)
df = df.apply(lambda x: x.astype(int) if x.dtype == 'bool' else x)

In [15]:
# Optional sanity check
print(X.select_dtypes(exclude='number').columns)

Index([], dtype='object')

In [14]:
# Just in case, Ensure X contains only numeric columns (drop any remaining non-numeric features)
X = X.select_dtypes(include=[np.number]).copy()

In [16]:
# 4. Split the data into training and test sets (80/20 split)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [17]:
# 5. Setup Cross-Validation and scoring metrics
cv = RepeatedKFold(n_splits=5, n_repeats=3, random_state=42)
# Using sklearn's built-in scorers for MAE and RMSE.
scoring = {
    'MAE': 'neg_mean_absolute_error', 
    'RMSE': 'neg_root_mean_squared_error'
}

In [19]:
from sklearn.impute import SimpleImputer
# 6. Build Pipelines for the three models

# Baseline: OLS (Linear Regression)
ols_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler()),
    ('reg', LinearRegression())
])

# Ridge Regression with built-in cross-validation for alpha tuning
ridge_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler()),
    ('reg', RidgeCV(alphas=[0.01, 0.1, 1, 10, 100], cv=5))
])

# Lasso Regression with built-in cross-validation for alpha tuning
lasso_pipeline = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', StandardScaler()),
    ('reg', LassoCV(alphas=[0.01, 0.1, 1, 10, 100], cv=5, random_state=42, max_iter=10000))
])

In [20]:
# 7. Evaluation function: performs CV and computes test set errors
def evaluate_model(pipeline, X_train, y_train, X_test, y_test, scoring, cv):
    # Cross-validation on training set
    cv_results = cross_validate(pipeline, X_train, y_train, cv=cv, scoring=scoring, return_train_score=True)
    
    # Fit the pipeline on the full training set
    pipeline.fit(X_train, y_train)
    # Predict on the test set
    y_pred_test = pipeline.predict(X_test)
    
    # Compute test errors
    test_mae = mean_absolute_error(y_test, y_pred_test)
    test_rmse = np.sqrt(mean_squared_error(y_test, y_pred_test))
    
    # Convert negative scores to positive values
    train_mae = -np.mean(cv_results['train_MAE'])
    train_rmse = -np.mean(cv_results['train_RMSE'])
    cv_mae = -np.mean(cv_results['test_MAE'])
    cv_rmse = -np.mean(cv_results['test_RMSE'])
    
    return {
        'Train MAE': train_mae,
        'Train RMSE': train_rmse,
        'CV MAE': cv_mae,
        'CV RMSE': cv_rmse,
        'Test MAE': test_mae,
        'Test RMSE': test_rmse
    }

In [21]:
# 8. Evaluate each model
results_ols   = evaluate_model(ols_pipeline,   X_train, y_train, X_test, y_test, scoring, cv)
results_ridge = evaluate_model(ridge_pipeline, X_train, y_train, X_test, y_test, scoring, cv)
results_lasso = evaluate_model(lasso_pipeline, X_train, y_train, X_test, y_test, scoring, cv)

In [25]:
# 9. Compile results into a summary table
results_df = pd.DataFrame({
    'Model': ['OLS', 'Ridge', 'Lasso'],
    'Train MAE': [results_ols['Train MAE'], results_ridge['Train MAE'], results_lasso['Train MAE']],
    'CV MAE': [results_ols['CV MAE'], results_ridge['CV MAE'], results_lasso['CV MAE']],
    'Test MAE': [results_ols['Test MAE'], results_ridge['Test MAE'], results_lasso['Test MAE']],
    'Train RMSE': [results_ols['Train RMSE'], results_ridge['Train RMSE'], results_lasso['Train RMSE']],
    'CV RMSE': [results_ols['CV RMSE'], results_ridge['CV RMSE'], results_lasso['CV RMSE']],
    'Test RMSE': [results_ols['Test RMSE'], results_ridge['Test RMSE'], results_lasso['Test RMSE']]
})

print("Model Evaluation Results:\n", results_df)

Model Evaluation Results:
    Model  Train MAE    CV MAE  Test MAE  Train RMSE   CV RMSE  Test RMSE
0    OLS   0.159973  0.164084  0.172419    0.238016  0.361477   0.259211
1  Ridge   0.160866  0.164578  0.172815    0.238457  0.357001   0.258614
2  Lasso   0.209395  0.213556  0.233379    0.291195  0.420187   0.306902

In [26]:
# 10. Save the evaluation table to a CSV file
results_df.to_csv('linear_model_evaluation.csv', index=False)
print("Evaluation results saved to 'linear_model_evaluation.csv'")

Evaluation results saved to 'linear_model_evaluation.csv'

In [27]:
from sklearn.metrics import r2_score

# Predict on the test set for each model using the already fitted pipelines
y_pred_ols   = ols_pipeline.predict(X_test)
y_pred_ridge = ridge_pipeline.predict(X_test)
y_pred_lasso = lasso_pipeline.predict(X_test)

# Calculate R^2 score for each model
r2_ols   = r2_score(y_test, y_pred_ols)
r2_ridge = r2_score(y_test, y_pred_ridge)
r2_lasso = r2_score(y_test, y_pred_lasso)

# Print the previously calculated evaluation metrics along with the R^2 score
print("Detailed Model Evaluation Results:")
print("OLS Results:")
print(f"  Train MAE: {results_ols['Train MAE']:.4f}")
print(f"  Train RMSE: {results_ols['Train RMSE']:.4f}")
print(f"  CV MAE: {results_ols['CV MAE']:.4f}")
print(f"  CV RMSE: {results_ols['CV RMSE']:.4f}")
print(f"  Test MAE: {results_ols['Test MAE']:.4f}")
print(f"  Test RMSE: {results_ols['Test RMSE']:.4f}")
print(f"  Test R^2: {r2_ols:.4f}\n")

print("Ridge Results:")
print(f"  Train MAE: {results_ridge['Train MAE']:.4f}")
print(f"  Train RMSE: {results_ridge['Train RMSE']:.4f}")
print(f"  CV MAE: {results_ridge['CV MAE']:.4f}")
print(f"  CV RMSE: {results_ridge['CV RMSE']:.4f}")
print(f"  Test MAE: {results_ridge['Test MAE']:.4f}")
print(f"  Test RMSE: {results_ridge['Test RMSE']:.4f}")
print(f"  Test R^2: {r2_ridge:.4f}\n")

print("Lasso Results:")
print(f"  Train MAE: {results_lasso['Train MAE']:.4f}")
print(f"  Train RMSE: {results_lasso['Train RMSE']:.4f}")
print(f"  CV MAE: {results_lasso['CV MAE']:.4f}")
print(f"  CV RMSE: {results_lasso['CV RMSE']:.4f}")
print(f"  Test MAE: {results_lasso['Test MAE']:.4f}")
print(f"  Test RMSE: {results_lasso['Test RMSE']:.4f}")
print(f"  Test R^2: {r2_lasso:.4f}")

Detailed Model Evaluation Results:
OLS Results:
  Train MAE: 0.1600
  Train RMSE: 0.2380
  CV MAE: 0.1641
  CV RMSE: 0.3615
  Test MAE: 0.1724
  Test RMSE: 0.2592
  Test R^2: 0.7624

Ridge Results:
  Train MAE: 0.1609
  Train RMSE: 0.2385
  CV MAE: 0.1646
  CV RMSE: 0.3570
  Test MAE: 0.1728
  Test RMSE: 0.2586
  Test R^2: 0.7635

Lasso Results:
  Train MAE: 0.2094
  Train RMSE: 0.2912
  CV MAE: 0.2136
  CV RMSE: 0.4202
  Test MAE: 0.2334
  Test RMSE: 0.3069
  Test R^2: 0.6669

OLS better

In [30]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 9102 entries, 0 to 9199
Data columns (total 72 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   price                          9102 non-null   float64
 1   bedrooms                       9102 non-null   float64
 2   bathrooms                      9102 non-null   float64
 3   sqft_living                    9102 non-null   int64
 4   sqft_lot                       9102 non-null   int64
 5   floors                         9102 non-null   float64
 6   waterfront                     9102 non-null   int64
 7   view                           9102 non-null   int64
 8   condition                      9102 non-null   int64
 9   sqft_above                     9102 non-null   int64
 10  sqft_basement                  9102 non-null   int64
 11  yr_built                       9102 non-null   int64
 12  yr_renovated                   9102 non-null   int64
 13  log_price                      9102 non-null   float64
 14  yr_after_renovated             9102 non-null   int64
 15  yr_after_built                 9102 non-null   int64
 16  price_per_sqft                 9102 non-null   float64
 17  basement_present               9102 non-null   int64
 18  if_renovated                   9102 non-null   int64
 19  if_waterfront                  9102 non-null   int64
 20  basement_ratio                 9102 non-null   float64
 21  sqft_above_ratio               9102 non-null   float64
 22  rooms                          9102 non-null   float64
 23  yr_renovated_bin               0 non-null      float64
 24  log_sqft_living                9102 non-null   float64
 25  log_sqft_above                 9102 non-null   float64
 26  log_sqft_basement              9102 non-null   float64
 27  zipcode                        9102 non-null   int64
 28  city_avg_price                 9102 non-null   float64
 29  zipcode_avg_price              9102 non-null   float64
 30  city_grouped_Auburn            9102 non-null   int64
 31  city_grouped_Bellevue          9102 non-null   int64
 32  city_grouped_Black Diamond     9102 non-null   int64
 33  city_grouped_Bothell           9102 non-null   int64
 34  city_grouped_Burien            9102 non-null   int64
 35  city_grouped_Carnation         9102 non-null   int64
 36  city_grouped_Clyde Hill        9102 non-null   int64
 37  city_grouped_Covington         9102 non-null   int64
 38  city_grouped_Des Moines        9102 non-null   int64
 39  city_grouped_Duvall            9102 non-null   int64
 40  city_grouped_Enumclaw          9102 non-null   int64
 41  city_grouped_Fall City         9102 non-null   int64
 42  city_grouped_Federal Way       9102 non-null   int64
 43  city_grouped_Issaquah          9102 non-null   int64
 44  city_grouped_Kenmore           9102 non-null   int64
 45  city_grouped_Kent              9102 non-null   int64
 46  city_grouped_Kirkland          9102 non-null   int64
 47  city_grouped_Lake Forest Park  9102 non-null   int64
 48  city_grouped_Maple Valley      9102 non-null   int64
 49  city_grouped_Medina            9102 non-null   int64
 50  city_grouped_Mercer Island     9102 non-null   int64
 51  city_grouped_Newcastle         9102 non-null   int64
 52  city_grouped_Normandy Park     9102 non-null   int64
 53  city_grouped_North Bend        9102 non-null   int64
 54  city_grouped_Other             9102 non-null   int64
 55  city_grouped_Pacific           9102 non-null   int64
 56  city_grouped_Ravensdale        9102 non-null   int64
 57  city_grouped_Redmond           9102 non-null   int64
 58  city_grouped_Renton            9102 non-null   int64
 59  city_grouped_Sammamish         9102 non-null   int64
 60  city_grouped_SeaTac            9102 non-null   int64
 61  city_grouped_Seattle           9102 non-null   int64
 62  city_grouped_Shoreline         9102 non-null   int64
 63  city_grouped_Snoqualmie        9102 non-null   int64
 64  city_grouped_Tukwila           9102 non-null   int64
 65  city_grouped_Vashon            9102 non-null   int64
 66  city_grouped_Woodinville       9102 non-null   int64
 67  knn_avg_price                  9102 non-null   float64
 68  zipcode_price_tier_Medium      9102 non-null   int64
 69  zipcode_price_tier_High        9102 non-null   int64
 70  floors_bin_2                   9102 non-null   int64
 71  floors_bin_3+                  9102 non-null   int64
dtypes: float64(16), int64(56)
memory usage: 5.1 MB
None